<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meeti - </title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"> 

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700.900|Staatliches" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

    <header class="site-header contenedor">
        <a href="/">
            <img src="/img/logo.png" alt="Logo Meeti">
        </a>

        <nav class="nav">
            <a href="#">Crear Grupos</a>
            <a href="#">Iniciar Sesión</a>
            <a href="/crear-cuenta">Registrarse</a>
        </nav>
    </header>

    <%- body %>

    <footer class="site-footer contenedor">
        <nav class="nav">
            <a href="#">Crear Grupos</a>
            <a href="#">Iniciar Sesión</a>
            <a href="/crear-cuenta">Registrarse</a>
        </nav>

        <p class="copyright">Todos los derechos reservados Meeti <%- year %> &copy;</p>
    </footer>


</body>
</html>